# Object files
*.o
# *.ko
# *.obj
*.elf


# Linker output
# *.ilk
*.map
# *.exp

# Precompiled Headers
# *.gch
# *.pch

# Libraries
# *.lib
# *.a
# *.la
# *.lo

# Shared objects (inc. Windows DLLs)
# *.dll
# *.so
# *.so.*
# *.dylib

# Executables
# *.exe
# *.out
# *.app
# *.i*86
# *.x86_64
*.hex

# Debug files
# *.dSYM/
# *.su
# *.idb
# *.pdb

# Kernel Module Compile Results
# *.mod*
# *.cmd
# .tmp_versions/
# modules.order
# Module.symvers
# Mkfile.old
# dkms.conf

# compiler bulided files
TSUMR2/HK_R2/Bin_R2_MT9700_MTK/AP.bin
TSUMR2/HK_R2/Bin_R2_MT9700_MTK/AP_INFO.bin
TSUMR2/HK_R2/Bin_R2_MT9700_MTK/AP.bin
TSUMR2/HK_R2/Bin_R2_MT9700_MTK/AP.dis
TSUMR2/HK_R2/Bin_R2_MT9700_MTK/AP.sym
TSUMR2/HK_R2/Bin_R2_MT9700_MTK/MERGE.bin

TSUMR2/HK_R2/Bin_R2_MT9700_LiteMAX/AP.bin
TSUMR2/HK_R2/Bin_R2_MT9700_LiteMAX/AP_INFO.bin
TSUMR2/HK_R2/Bin_R2_MT9700_LiteMAX/AP.bin
TSUMR2/HK_R2/Bin_R2_MT9700_LiteMAX/AP.dis
TSUMR2/HK_R2/Bin_R2_MT9700_LiteMAX/AP.sym
TSUMR2/HK_R2/Bin_R2_MT9700_LiteMAX/MERGE.bin

TSUMR2/HK_R2/Bin_R2_MT9700_LiteMAX_Baron/AP.bin
TSUMR2/HK_R2/Bin_R2_MT9700_LiteMAX_Baron/AP_INFO.bin
TSUMR2/HK_R2/Bin_R2_MT9700_LiteMAX_Baron/AP.bin
TSUMR2/HK_R2/Bin_R2_MT9700_LiteMAX_Baron/AP.dis
TSUMR2/HK_R2/Bin_R2_MT9700_LiteMAX_Baron/AP.sym
TSUMR2/HK_R2/Bin_R2_MT9700_LiteMAX_Baron/MERGE.bin

# under git add -f files
TSUMR2/HK_R2/boot/R2_MT9700_MTK/BOOT.bin
TSUMR2/HK_R2/boot/R2_MT9701_MTK/BOOT.bin
TSUMR2/HK_R2/boot/R2_MT9700_LiteMAX/BOOT.bin

# Keil C51
# User-specific uVision files
# *.opt
# *.uvopt
# *.uvoptx
# *.uvgui
# *.uvgui.*
# *.uvguix.*

# Listing files
# *.cod
# *.htm
# *.i
# *.lst
# *.map
# *.m51
# *.m66
# define exception below if needed
# *.scr

# Object and HEX files
# *.axf
# *.b[0-3][0-9]
# *.crf
# *.elf
# *.hex
# *.h86
# *.lib
# *.obj
# *.o
# *.sbr

# Build files
# define exception below if needed
# *.bat
# *._ia
# *.__i
# *._ii
*.d

# Generated output files
# /Listings/*
/Obj_R2_MT9700_MTK/*

# Debugger files
# define exception below if needed
# *.ini

# Other files
# *.build_log.htm
# *.cdb
# *.dep
# *.ic
# *.lin
# *.lnp
# *.orc
# define exception below if needed
# *.pack
# define exception below if needed
# *.pdsc
# *.plg
# define exception below if needed
# *.sct
# *.sfd
# *.sfr

# Miscellaneous
# *.tra
*.bin
# *.fed
# *.l1p
# *.l2p
# *.iex
*.pyc
# **/AP.sym
# **/AP.dis

# Make log
build_output.log

